.login-header{
    height: 80px;
    background-color: mediumseagreen;
}
#headermenu li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    float: right;
    margin: 15px 50px 5px 5px;
    list-style: none;
    cursor: pointer;
    padding: 5px 10px;
    text-shadow: rgb(0, 0, 0);
    font-size: 20px;
    
}
#headermenu li:hover{
    background-color: rgba(59, 230, 110, 0.795);
    border-radius: 50%;
    transition: 0.088s;
    transform: scale(1.15);
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.6)
    
}



